![rmotr](https://user-images.githubusercontent.com/7065401/52071918-bda15380-2562-11e9-828c-7f95297e4a82.png)
<hr style="margin-bottom: 40px;">

# Pandas Series exercises

In [1]:
# Import the numpy package under the name np
import numpy as np

# Import the pandas package under the name pd
import pandas as pd

# Print the pandas version and the configuration
print(pd.__version__)

1.3.5

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Series creation

### Create an empty pandas Series

In [2]:
# your code goes here
pd.Series()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

Series([], dtype: float64)

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X python list convert it to an Y pandas Series

In [5]:
# your code goes here
X = ['orange', 'apple', 'cherry', 'coconut', 'banana']
Y = pd.Series(X)
Y, type(Y)

(0     orange
 1      apple
 2     cherry
 3    coconut
 4     banana
 dtype: object, pandas.core.series.Series)

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, name it 'My letters'

In [10]:
# your code goes here
X = pd.Series(['a', 'b', 'c', 'd'])
X.name = 'My letters'
X

0    a
1    b
2    c
3    d
Name: My letters, dtype: object

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show its values

In [13]:
# your code goes here
print(X, '\n')
X.values

0    a
1    b
2    c
3    d
Name: My letters, dtype: object

array(['a', 'b', 'c', 'd'], dtype=object)

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Series indexation

### Assign index names to the given X pandas Series

In [14]:
# your code goes here
print(X, '\n')
X.index = [10, 20, 30, 40]
X

0    a
1    b
2    c
3    d
Name: My letters, dtype: object

10    a
20    b
30    c
40    d
Name: My letters, dtype: object

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show its first element

In [16]:
# your code goes here
print(X, '\n')
X.iloc[0]

10    a
20    b
30    c
40    d
Name: My letters, dtype: object

'a'

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show its last element

In [17]:
# your code goes here
X.iloc[-1]

'd'

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show all middle elements

In [18]:
# your code goes here
X.iloc[1:-1]

20    b
30    c
Name: My letters, dtype: object

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show the elements in reverse position

In [20]:
# your code goes here
%timeit X.iloc[::-1]
%timeit X[::-1]

26 µs ± 610 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)
31.9 µs ± 854 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show the first and last elements

In [22]:
# your code goes here
print(X, '\n')
X.iloc[[0, -1]]

10    a
20    b
30    c
40    d
Name: My letters, dtype: object

10    a
40    d
Name: My letters, dtype: object

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Series manipulation

### Convert the given integer pandas Series to float

In [25]:
# your code goes here
X = pd.Series([1, 2, 3, 4, 5, 6])
pd.Series(X, dtype=np.float64)

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
dtype: float64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Reverse the given pandas Series (first element becomes last)

In [26]:
# your code goes here
print(X, '\n')
X[::-1]

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

5    6
4    5
3    4
2    3
1    2
0    1
dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Order (sort) the given pandas Series

In [31]:
# your code goes here
X = pd.Series([3, 1, 9, 2, 34, 0, -50])
X.sort_values()

6   -50
5     0
1     1
3     2
0     3
2     9
4    34
dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, set the fifth element equal to 10

In [29]:
# your code goes here
print(X, '\n')
X.iloc[4] = 10
X

0     3
1     1
2     9
3     2
4    34
5     0
6   -50
dtype: int64

0     3
1     1
2     9
3     2
4    10
5     0
6   -50
dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, change all the middle elements to 0

In [32]:
# your code goes here
print(X, '\n')
X.iloc[1:-1] = 0
X

0     3
1     1
2     9
3     2
4    34
5     0
6   -50
dtype: int64

0     3
1     0
2     0
3     0
4     0
5     0
6   -50
dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, add 5 to every element

In [33]:
# your code goes here
print(X, '\n')
X += 5
X

0     3
1     0
2     0
3     0
4     0
5     0
6   -50
dtype: int64

0     8
1     5
2     5
3     5
4     5
5     5
6   -45
dtype: int64

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Series boolean arrays (also called masks)

### Given the X pandas Series, make a mask showing negative elements

In [34]:
# your code goes here
print(X, '\n')
mask = X < 0
mask

0     8
1     5
2     5
3     5
4     5
5     5
6   -45
dtype: int64

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, get the negative elements

In [35]:
# your code goes here
X[mask]

6   -45
dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, get numbers higher than 5

In [37]:
# your code goes here
X = pd.Series(np.arange(9))
mask = X > 5
X[mask]

6    6
7    7
8    8
dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, get numbers higher than the elements mean

In [40]:
# your code goes here
print(X, '\n')
mask = X > X.mean()
print(X.mean(), '\n')
X[mask]

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
dtype: int64

4.0

5    5
6    6
7    7
8    8
dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, get numbers equal to 2 or 10

In [41]:
# your code goes here
X = pd.Series([1, 80, 2, 10, 54])
mask = (X == 2) | (X == 10)
X[mask]

2     2
3    10
dtype: int64

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Logic functions

### Given the X pandas Series, return True if none of its elements is zero

In [42]:
# your code goes here
X = pd.Series([1, 0, 1, 0])
Y = pd.Series([1, 1, 1, 1])

X.all(), Y.all()

(False, True)

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, return True if any of its elements is zero

In [43]:
# your code goes here
print(X, Y, sep='\n')
~X.all(), ~Y.all()

0    1
1    0
2    1
3    0
dtype: int64
0    1
1    1
2    1
3    1
dtype: int64

(True, False)

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Summary statistics

### Given the X pandas Series, show the sum of its elements

In [44]:
# your code goes here
X = pd.Series([2, 1, 3, 4, 5])
X.sum()

15

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show the mean value of its elements

In [45]:
# your code goes here
print(X, '\n')
X.mean()

0    2
1    1
2    3
3    4
4    5
dtype: int64

3.0

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show the max value of its elements

In [46]:
# your code goes here
print(X, '\n')
X.max()

0    2
1    1
2    3
3    4
4    5
dtype: int64

5

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)